[Unit]
Description=De NatteVoeten Sensor
After=network.target

[Service]
User=nvs-www
Group=nvs-www
WorkingDirectory=/home/nvs-www/nvs
PIDFile=/home/nvs-www/nvs.lock
ExecStart=/usr/bin/dotnet /home/nvs-www/nvs/SensHagen-NVS
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target

