@model Nvs.Controllers.ghome

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h2><b>De NatteVoeten Sensor</b></h2>

    <h3><b>Sensoren</b> <span class="badge badge-light" id="cntdwn"></span></h3>

</div>

<div class="row flex-xl-nowrap">

    <div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 main">
        <div id="viewPlaceHolder">Loading....</div>
    </div>

</div>

<script>

    function CountBack(secs) {

        if (secs < 0) {
            LoadQuery(0);
            return;
        }
        $("#cntdwn").html(secs.toString());

        setTimeout("CountBack(" + (secs - 1) + ")", 1000);

    }

    function LoadQuery() {

        $("#viewPlaceHolder").load("/api/GetSensorData");

        CountBack(30);

    };


    $(document).ready()
    {
        LoadQuery();
    }



</script>