@model SensHagen.Models.User

@{
    ViewData["Title"] = "Home Page";

    string _userName = "Unknown";

    if (Model != null)
    {
        _userName = Model.Name;
    }
}

<img src="images/boots.png" />

<div class="text-center">
    <h1 class="display-4">Welcome @Model?.Name</h1>
    <h3 class="display-4">You're connecting from @Model?.IpAddress</h3>
</div>
