@model SensHagen.Models.User

@{
    ViewData["Title"] = "Home Page";

    string _userName = "Unknown";

    if (Model != null)
    {
        _userName = Model.Name;
    }
}

<img src="images/boots.png" />

<div class="text-center">
    <h1 class="display-4">Welcome @Model?.Name</h1>
    <h4 class="display-6">Je email is @Model?.Email</h4>
</div>
