@{
    ViewData["Title"] = "Wat is de NatteVoeten Sensor";
}
<h1>@ViewData["Title"]</h1>

<p>Tja. Dat is confidential.</p>

<p>Maar om toch enige informatie te geven. Uw IpAddress == @ViewBag.RemoteIp</p>
