@{
    ViewData["Title"] = "Wat is de NatteVoeten Sensor";
}
<h1>@ViewData["Title"]</h1>

<p>Sources: <a href="https://github.com/QuantumSingularity/DeNatteVoetenSensor">https://github.com/QuantumSingularity/DeNatteVoetenSensor</a></p>

<p>Uw IpAddress == @ViewBag.RemoteIp</p>
