:root {
    --primary: #0a5189;
    --secondary: #60bfe8;
    --light: #F2F2F0;
    --dark: #072247;    
}

html {
    line-height: 1.0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
    line-height: 1.0;
}

a {
    color: #0a5189;
}

a:hover {
    color: #0b2443;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Arial;
}

h1, .h1 {
    font-size: 2rem;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500 !important;
}

h2, .h2 {
    font-size: 1.75rem
}

h3, .h3 {
    font-size: 1.25rem
}

.lead {
    font-family: Arial;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: rgba(0,0,0,0);
    font-size: 0.7rem !important;
}

.table td {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    text-align: left;
}

.table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    font-size: 1.25rem
}


.table-primary, .table-primary > th, .table-primary > td {
    background-color: #beccdd;
}

.table-hover .table-primary:hover {
    background-color: #adbfd4;
}

.table-hover .table-primary:hover > td, .table-hover .table-primary:hover > th {
    background-color: #adbfd4;
}
		 
.table-secondary, .table-secondary > th, .table-secondary > td {
    background-color: #d2edf9;
}

.table-hover .table-secondary:hover {
    background-color: #bce4f6;
}

.table-hover .table-secondary:hover > td, .table-hover .table-secondary:hover > th {
    background-color: #bce4f6;
}

.table-light, .table-light > th, .table-light > td {
    background-color: #fbfbfb;
}

.table-hover .table-light:hover {
    background-color: #eee;
}

.table-hover .table-light:hover > td, .table-hover .table-light:hover > th {
    background-color: #eee;
}

.table-dark, .table-dark > th, .table-dark > td {
    background-color: #bac1cb;
}

.table-hover .table-dark:hover {
    background-color: #abb4c0;
}

.table-hover .table-dark:hover > td, .table-hover .table-dark:hover > th {
    background-color: #abb4c0;
}

.form-control:focus {
    border-color: #3c85df;
    box-shadow: 0 0 0 .2rem rgba(22,72,133,0.25);
}

.form-control-sm, .input-group-sm > .form-control, .input-group-sm > .input-group-prepend > .input-group-text, .input-group-sm > .input-group-append > .input-group-text, .input-group-sm > .input-group-prepend > .btn, .input-group-sm > .input-group-append > .btn {
    padding: .25rem .5rem;
    font-size: .8rem;
    line-height: 1.5;
    border-radius: .2rem
}

.form-check-input {
    margin-top: 0;
}

.btn:focus, .btn.focus {
    box-shadow: 0 0 0 .2rem rgba(22,72,133,0.25);
}


.btn-primary {
    background-color: #0a5189;
    border-color: #0a5189
}

.btn-primary:hover {
    background-color: #113664;
    border-color: #0f3059
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 .2rem rgba(22,72,133,0.5)
}

.btn-primary.disabled, .btn-primary:disabled {
    background-color: #0a5189;
    border-color: #0a5189
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    background-color: #0f3059;
    border-color: #0d2a4e
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(22,72,133,0.5)
}

.btn-secondary {
    color: #212529;
    background-color: #60bfe8;
    border-color: #60bfe8
}

.btn-secondary:hover {
    background-color: #3fb2e3;
    border-color: #33ade2
}

.btn-secondary:focus, .btn-secondary.focus {
    box-shadow: 0 0 0 .2rem rgba(96,191,232,0.5)
}

.btn-secondary.disabled, .btn-secondary:disabled {
    color: #212529;
    background-color: #60bfe8;
    border-color: #60bfe8
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
    background-color: #33ade2;
    border-color: #28a9e0
}

.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(96,191,232,0.5)
}



.btn-light {
    background-color: #F2F2F0;
    border-color: #F2F2F0;
}

.btn-light:hover {
    background-color: #e0e0dc;
    border-color: #dadad5;
}

.btn-light:focus, .btn-light.focus {
    box-shadow: 0 0 0 .2rem rgba(242,242,240,0.5);
}

.btn-light.disabled, .btn-light:disabled {
    background-color: #F2F2F0;
    border-color: #F2F2F0;
}

.btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active, .show > .btn-light.dropdown-toggle {
    background-color: #dadad5;
    border-color: #d4d4ce;
}

.btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus, .show > .btn-light.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(242,242,240,0.5);
}

.btn-dark {
    background-color: #072247;
    border-color: #072247;
}

.btn-dark:hover {
    background-color: #041124;
    border-color: #020c19;
}

.btn-dark:focus, .btn-dark.focus {
    box-shadow: 0 0 0 .2rem rgba(7,34,71,0.5);
}

.btn-dark.disabled, .btn-dark:disabled {
    background-color: #072247;
    border-color: #072247;
    }

.btn-dark:not(:disabled):not(.disabled):active, .btn-dark:not(:disabled):not(.disabled).active, .show > .btn-dark.dropdown-toggle {
    background-color: #020c19;
    border-color: #01060d;
}

.btn-dark:not(:disabled):not(.disabled):active:focus, .btn-dark:not(:disabled):not(.disabled).active:focus, .show > .btn-dark.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(7,34,71,0.5);
}

.btn-outline-primary {
    color: #0a5189;
    border-color: #0a5189;
}

.btn-outline-primary:hover {
    background-color: #0a5189;
    border-color: #0a5189;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
    box-shadow: 0 0 0 .2rem rgba(22,72,133,0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #0a5189;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
    background-color: #0a5189;
    border-color: #0a5189;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(22,72,133,0.5);
}

.btn-outline-secondary {
    color: #60bfe8;
    border-color: #60bfe8;
}

.btn-outline-secondary:hover {
    color: #212529;
    background-color: #60bfe8;
    border-color: #60bfe8;
}

.btn-outline-secondary:focus, .btn-outline-secondary.focus {
    box-shadow: 0 0 0 .2rem rgba(96,191,232,0.5);
}

.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
    color: #60bfe8;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active, .show > .btn-outline-secondary.dropdown-toggle {
    color: #212529;
    background-color: #60bfe8;
    border-color: #60bfe8;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(96,191,232,0.5);
}



.btn-outline-light {
    color: #F2F2F0;
    border-color: #F2F2F0;
}

.btn-outline-light:hover {
    background-color: #F2F2F0;
    border-color: #F2F2F0;
}

.btn-outline-light:focus, .btn-outline-light.focus {
    box-shadow: 0 0 0 .2rem rgba(242,242,240,0.5);
}

.btn-outline-light.disabled, .btn-outline-light:disabled {
    color: #F2F2F0;
}

.btn-outline-light:not(:disabled):not(.disabled):active, .btn-outline-light:not(:disabled):not(.disabled).active, .show > .btn-outline-light.dropdown-toggle {
    background-color: #F2F2F0;
    border-color: #F2F2F0;
}

.btn-outline-light:not(:disabled):not(.disabled):active:focus, .btn-outline-light:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-light.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(242,242,240,0.5);
}

.btn-outline-dark {
    color: #072247;
    border-color: #072247;
}

.btn-outline-dark:hover {
    background-color: #072247;
    border-color: #072247;
}

.btn-outline-dark:focus, .btn-outline-dark.focus {
    box-shadow: 0 0 0 .2rem rgba(7,34,71,0.5);
}

.btn-outline-dark.disabled, .btn-outline-dark:disabled {
    color: #072247;
}

.btn-outline-dark:not(:disabled):not(.disabled):active, .btn-outline-dark:not(:disabled):not(.disabled).active, .show > .btn-outline-dark.dropdown-toggle {
    background-color: #072247;
    border-color: #072247;
}

.btn-outline-dark:not(:disabled):not(.disabled):active:focus, .btn-outline-dark:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-dark.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(7,34,71,0.5);
}

.btn-link {
    color: #0a5189;
}

.btn-link:hover {
    color: #0b2443;
}

.dropdown-menu {
    padding: 0;
}

.dropdown-divider {
    margin: .2rem 0;
}

.dropdown-item {
    padding: .25rem 1.2rem;
    color: #333;
	font-size: 0.875rem;
	line-height: 1.25rem;
}

.dropdown-item:hover, .dropdown-item:focus {
    background-color: #f5f5f5;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #0a5189
}

.dropdown-item > .fa-sm {
    color: #60bfe8;			 
}

				  
.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-flex;
    vertical-align: middle
}

.btn-group > .btn, .btn-group-vertical > .btn {
    position: relative;
    flex: 0 1 auto
}


.custom-control-input:checked ~ .custom-control-label::before {
    background-color: #0a5189
}

.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff,0 0 0 .2rem rgba(22,72,133,0.25)
}

.custom-control-input:active ~ .custom-control-label::before {
    background-color: #68a0e6
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #0a5189
}

.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
    background-color: #0a5189
}


.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before {
    background-color: rgba(22,72,133,0.5)
}

.custom-checkbox .custom-control-input:disabled:indeterminate ~ .custom-control-label::before {
    background-color: rgba(22,72,133,0.5)
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #0a5189
}

.custom-radio .custom-control-input:disabled:checked ~ .custom-control-label::before {
    background-color: rgba(22,72,133,0.5)
}

.custom-select:focus {
    border-color: #3c85df;
}

.custom-file-input:focus ~ .custom-file-label {
    border-color: #3c85df;
    box-shadow: 0 0 0 .2rem rgba(22,72,133,0.25)
}

.custom-file-input:focus ~ .custom-file-label::after {
    border-color: #3c85df
}



.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-submenu {
    font-size: 0.75rem;			   
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #0a5189;
}


.navbar {
    font-size: 0.9rem;
    font-family: Arial;
}


.navbar-nav .dropdown-menu {
    padding-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-expand-md .navbar-nav .dropdown-menu {
    overflow-y: auto;
    max-height: calc(100vh - 120px);
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-right: .8rem;
    padding-left: .8rem
}


.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,0.9);
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: rgba(255,255,255,1);
}

.navbar-dark .navbar-nav .nav-link.disabled {
    color: rgba(255,255,255,0.50);
}


.card {
    line-height: normal;
}

.card-body {
    padding: 1rem;
}

.card-title {
    margin-bottom: 0;
}

.card-deck {
    margin-bottom: 10px;
    width: 100%;
    white-space: nowrap;
}

@media (min-width: 576px) {
  .card-deck {
      margin-right: 0;
      margin-left: 0;
  }
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #0a5189;
    background-color: #fff;
    border: 1px solid #dee2e6
}

.page-link:hover {
    z-index: 2;
    color: #0b2443;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6
}

.page-link:focus {
    z-index: 2;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(22,72,133,0.25)
}

.page-link:not(:disabled):not(.disabled) {
    cursor: pointer
}


.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem
}

.page-item:last-child .page-link {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #0a5189;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
}


.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
							
    border-radius: 4px;
}

.pagination > li {
    display: inline;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    z-index: 2;
    color: #23527c;
    background-color: #eeeeee;
    border-color: #ddd;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
    cursor: default;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    color: #777777;
    background-color: #fff;
    border-color: #ddd;
    cursor: not-allowed;
}

.pagination-lg > li > a,
.pagination-lg > li > span {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
}

.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

.pagination-sm > li > a,
.pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}

.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
						
}

.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
.pagination > li > a,
.pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #337ab7;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}

.badge-primary {
    background-color: #0a5189
}

.badge-primary[href]:hover, .badge-primary[href]:focus {
    background-color: #0f3059
}

.badge-secondary {
    color: #212529;
    background-color: #60bfe8
}

.badge-secondary[href]:hover, .badge-secondary[href]:focus {
    color: #212529;
    background-color: #33ade2
}


.badge-light {
    background-color: #F2F2F0
}

.badge-light[href]:hover, .badge-light[href]:focus {
    background-color: #dadad5
}

.badge-dark {
    background-color: #072247
}

.badge-dark[href]:hover, .badge-dark[href]:focus {
    background-color: #020c19
}




.alert-primary {
    color: #0b2545;
    background-color: #d0dae7;
    border-color: #beccdd
}

.alert-primary hr {
    border-top-color: #adbfd4
}

.alert-primary .alert-link {
    color: #040d19
}

.alert-secondary {
    color: #326379;
    background-color: #dff2fa;
    border-color: #d2edf9
}

  .alert-secondary hr {
      border-top-color: #bce4f6
  }

  .alert-secondary .alert-link {
      color: #234555
  }


.alert-light {
    color: #7e7e7d;
    background-color: #fcfcfc;
    border-color: #fbfbfb
}

.alert-light hr {
    border-top-color: #eee
}

.alert-light .alert-link {
    color: #646464
}

.alert-dark {
    color: #041225;
    background-color: #cdd3da;
    border-color: #bac1cb
}

.alert-dark hr {
    border-top-color: #abb4c0
}

.alert-dark .alert-link {
    color: #000
}


.progress-bar {
    background-color: #0a5189;
}


.list-group-item {
    min-height: 40px;
}

.list-group-item:hover, .list-group-item:focus {
    background: #f5f5f5;
}

.list-group-item.active {
    background-color: #0a5189;
    border-color: #0a5189
}


.list-group-item-primary {
    color: #0b2545;
    background-color: #beccdd
}

.list-group-item-primary.list-group-item-action:hover, .list-group-item-primary.list-group-item-action:focus {
    color: #0b2545;
    background-color: #adbfd4
}

.list-group-item-primary.list-group-item-action.active {
    color: #fff;
    background-color: #0b2545;
    border-color: #0b2545
}

.list-group-item-secondary {
    color: #326379;
    background-color: #d2edf9
}

.list-group-item-secondary.list-group-item-action:hover, .list-group-item-secondary.list-group-item-action:focus {
    color: #326379;
    background-color: #bce4f6
}

.list-group-item-secondary.list-group-item-action.active {
    color: #fff;
    background-color: #326379;
    border-color: #326379
}



.list-group-item-light {
    color: #7e7e7d;
    background-color: #fbfbfb
}

.list-group-item-light.list-group-item-action:hover, .list-group-item-light.list-group-item-action:focus {
    color: #7e7e7d;
    background-color: #eee
}

.list-group-item-light.list-group-item-action.active {
    color: #fff;
    background-color: #7e7e7d;
    border-color: #7e7e7d
}

.list-group-item-dark {
    color: #041225;
    background-color: #bac1cb
}

.list-group-item-dark.list-group-item-action:hover, .list-group-item-dark.list-group-item-action:focus {
    color: #041225;
    background-color: #abb4c0
}

.list-group-item-dark.list-group-item-action.active {
    color: #fff;
    background-color: #041225;
    border-color: #041225
}


@media (min-width: 1200px) {
    .modal-huge {
        max-width: 90% !important;
        width: 90% !important;
    }
}


.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    margin: 0;
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    white-space: normal;
    line-break: auto;
    font-size: .875rem;
    word-wrap: break-word;
    opacity: 0
}

.tooltip.show {
    opacity: .9
}

.tooltip .arrow {
    position: absolute;
    display: block;
    width: .8rem;
    height: .4rem
}


.popover {
    font-family: Arial;
}



.bg-primary {
    background-color: #0a5189 !important
}

a.bg-primary:hover, a.bg-primary:focus, button.bg-primary:hover, button.bg-primary:focus {			 
    background-color: #0f3059 !important
}

.bg-secondary {
    background-color: #60bfe8 !important
}

a.bg-secondary:hover, a.bg-secondary:focus, button.bg-secondary:hover, button.bg-secondary:focus {		   
    background-color: #33ade2 !important
}



.bg-light {
    background-color: #f5f5f5 !important
}

a.bg-light:hover, a.bg-light:focus, button.bg-light:hover, button.bg-light:focus {		   
    background-color: #dadad5 !important
}

.bg-dark {
    background-color: #072247 !important
}

a.bg-dark:hover, a.bg-dark:focus, button.bg-dark:hover, button.bg-dark:focus {		  
    background-color: #020c19 !important
}

.border-primary {
    border-color: #0a5189 !important
}

.border-secondary {
    border-color: #60bfe8 !important
}

.border-light {
    border-color: #F2F2F0 !important
}

.border-dark {
    border-color: #072247 !important
}


.text-primary {
    color: #0a5189 !important
}

a.text-primary:hover, a.text-primary:focus {
    color: #0f3059 !important
}

.text-secondary {
    color: #60bfe8 !important
}

a.text-secondary:hover, a.text-secondary:focus {
    color: #33ade2 !important
}

.text-light {
    color: #F2F2F0 !important
}

a.text-light:hover, a.text-light:focus {
    color: #dadad5 !important
}

.text-dark {
    color: #072247 !important
}

a.text-dark:hover, a.text-dark:focus {
    color: #020c19 !important
}



/***********************************

    DIMENCE GROEP SPECIFIEK!

***********************************/

.logo {
    position: fixed;
    right: 25px;
    height: 68px;
    background: url(/images/logo.png) no-repeat 9px;
    width: 250px;
    display: inline;
    margin-top: 6px;
}

.developmenttag {
    position: fixed;
    top: 60px;
}

    .developmenttag p {
        font-size: 0.85em;
    }

.navbar .navbar-brand, .navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
    background: #fff url(/images/logo48.png) no-repeat 9px;
    margin-left: 15px !important;
    height: 68px;
    width: 68px;
    border-radius: 34px;
    text-indent: -9999999px;
    overflow: hidden;
    margin-top: -17px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 5s ease;
}

    .navbar .navbar-brand:hover {
        -ms-transform: rotate(900deg);
        -o-transform: rotate(900deg);
        transform: rotate(900deg);
    }

.navbar {
    /*border-bottom: 10px solid #60bfe8;*/
    background: #0a5189;
    border-top: 20px solid #00ADEE !important;
    padding-top: 0;
    padding-bottom: 0;
}


.sidebar {
    padding-top: 70px !important;
    z-index: 1000;
}

.links {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 0.5rem;
}

@media (max-width: 576px) {
    .sidebar {
        display: block;
        border-bottom: 1px solid rgba(0,0,0,.1);
        background-color: #f5f5f5;
    }

    .main {
        padding-top: 10px !important;
    }
}


@media (min-width: 576px) {
    .sidebar {
        border-right: 1px solid rgba(0,0,0,.1);
        padding-right: 0px;
        position: fixed;
        background-color: #f5f5f5;
        top: 0;
        bottom: 0;
    }

    .main {
        padding-top: 70px !important;
    }

    .links {
        display: block !important;
        /*max-height: calc(100vh - 150px);*/
        max-height: calc(100vh - 70px);
        overflow-y: auto;
    }

}

.row h2 {
    padding-top: 20px;
    padding-bottom: 0.8rem;
}



table td {
    white-space: nowrap;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

table th {
    white-space: nowrap;
    background: none repeat scroll 0 0 #006AB6;
    color: #fff;
}

table th > a {
    color: #ffffff;
}

.table-wrap td {
    white-space: normal !important;
}

    /* Sticky footer styles
-------------------------------------------------- */
    html {
        position: relative;
        min-height: 100%;
    }

    body {
        /*margin-bottom: 5px;*/ /* Margin bottom by footer height */
    }

    .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 5px; /* Set the fixed height of the footer here */
        line-height: 60px; /* Vertically center the text there */
        background-color: #0a5189;
        z-index: 9999;
    }

	

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030
}

.fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030
}	
	

    /* Multirow table
------------------------------------------------- */
    .table-multirow-hover > tbody {
        border-top: 1px solid #dee2e6 !important;
    }

        .table-multirow-hover > tbody td {
            border-top: none !important;
        }

    .table-multirow-hover tbody:hover tr td {
        background: #f5f5f5;
    }

    .row-menu {
        padding-left: 100px;
        padding-top: 3px;
        padding-right: 10px;
        padding-bottom: 1px;
    }

    .dropdown-menu {
        border-radius: 0 0.25rem .25rem;
        border-bottom: #60bfe8 solid 6px;
    }

    .dg-badge-small {
        background-color: #999;
        background-color: #60bfe8;
        border-radius: 10px;
        color: #fff;
        display: inline-block;
        font-size: 11px;
        line-height: 1em;
        min-width: 11px;
        padding: 2px 6px;
        text-align: center;
        vertical-align: text-top;
        white-space: nowrap;
        min-width: 25px;
    }


.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}


.pointer {
    cursor: pointer;
}


    #HyperQuerySelection {
        overflow: auto;
    }

    .icsm-status-running {
        color: green;
        font-weight: bold;
    }

    .icsm-status-stopped {
        color: white;
        background-color: orange;
        font-weight: bold;
    }

    .hyperquery > thead {
        position: sticky;
        top: 71px;
    }



.company {
    border-radius: 0;
    display: inline-block;
    height: 1em;
    width: 1em;
    background: #f5f5f5;
    border: 1px solid #dee2e6;
}

.company-dimence-groep, .company-5100 {
    background: #515b7e !important;
    color: #ffffff !important;
}

.company-de-kern, .company-5102 {
    background: #e1962f !important;
    color: #ffffff !important;
}

.company-dimence, .company-5101 {
    background: #60bfe8 !important;
    color: #ffffff !important;
}

.company-jeugdggz, .company-5108 {
    background: #d3006b !important;
    color: #ffffff !important;
}

.company-mindfit, .company-5105 {
    background: #83b819 !important;
    color: #ffffff !important;
}

.company-transfore, .company-5107 {
    background: #fbb900 !important;
    color: #ffffff !important;
}

.company-welzijnkampen, .company-5109 {
    background: #e11a1d !important;
    color: #ffffff !important;
}


.dataTables_info {
    color: #777777;
    font-size: 0.8rem;
    padding-top: 0.6rem !important;
}

table.dataTable {
    padding-bottom: 1rem;
}

.label-table {
    padding: .3em;
    font-size: 80%;
    font-weight: normal;
}

#HyperQuerySelection {
    overflow: auto;
}

h1, h2 {
    background-color: #00ADEE;
    color: white;
    /*text-transform: uppercase;*/
    -ms-transform: rotate(-2deg); /* IE 9 */
    -webkit-transform: rotate(-2deg); /* Safari */
    transform: rotate(-2deg);
    display: inline-block;
    padding: 6px 20px;
    border: 1px solid white;
}

h4 {
    font-style: italic;
}

.footer {
    height: 50px;
    background-image: -moz-linear-gradient(180deg, #866F5D 25%, #66C5AE 25%, #66C5AE 50%, #4C92CE 50%, #4C92CE 75%, #006AB6 75%);
    background-image: -webkit-linear-gradient(180deg, #866F5D 25%, #66C5AE 25%, #66C5AE 50%, #4C92CE 50%, #4C92CE 75%, #006AB6 75%);
    background-image: linear-gradient(180deg, #866F5D 25%, #66C5AE 25%, #66C5AE 50%, #4C92CE 50%, #4C92CE 75%, #006AB6 75%);
    border: none;
}

body {
    background-image: linear-gradient(0deg, #8BD7F6 0%, white 50%)
}

.text-muted {
    color: #fff !important;
}
